<!-- Banner -->
<br>
<br>
<section id="banner">
        <div class="container">
            <header>
                <h2>Contact Us</h2>
                <h3>BGMST Registered Address</h3>
            </header>
            <p>No. 02, 30/1, Anandpura, Varanasi, Near Mother Theresha School, K R Puram, Bangalore - 560036</p>

            <header>
                <h3>Becoming Member of BGMST</h3>
            </header>
            <p>
                Lifetime Membership fee is Rs. 1100
                <br />Members can pay this Online to BGMST bank account or by cash to treasurer, Secretory and Vice secretory.
                <br />While Becoming member, you need to provide your details and collect the receipt for the same.
                <br />People who are paying Online can collect the membership receipt offline, or thru email
            </p>
            <header>
                <h3>Contact for Becoming BGMST Member</h3>
            </header>
            <p>
                Ohm Prakash Gupta: 7892123434
                <br />Subhash Chandra Gupta: 9123499870
                <br />Sanjeet Kumar Gupta: 9341243338
                <br />Dr. Ranjeet Kumar: 8880677827
                <br />Lalan Prasad Gupta: 8867291649
                <br />Shravan Kumar: 9845751488
            </p>
        </div>
    </section>