  <br>
  <br>
  
  <!-- Banner -->
  <section id="banner">
        <div class="container">
            <header>
                <h2>Our Vision</h2>
                <h4>Come together.., Be together.., Work together.. and Prosper together..!!</h4>
            </header>
            <p>Our main Objective is to bringing All Hawai People underone common group. Where they are based in any part of India or outside India, we want them to be a part of this group. More the number of people in the group, the stronge the group will be. it will be able to organize different events both on social and individual level and make it sucessfull.</p>

        </div>
        <!-- <span class="image object">
            <img src="images/OtherImages/Together.jpg" alt="" />
        </span> -->
    </section>