<!-- Banner -->


<section id="banner">
    <div class="container">
        <header class="heading-tag">
            <h2>The Origin</h2>
            <!--<p>A free and fully responsive site template</p>-->
        </header>
        <p>
            <img class="float-right eng-Img" src="../../assets/babalogo.jpg" width="400" height="300" style="border-radius: 70%;"alt="" />
        </p>
        <p>Halwai is a caste of Vaishya varna (community) with traditional primary occupation related to confectionery and sweet-making. The name is derived the word Halwa.
            Baba Ganinath Govindji is the kul Guru (school) of Halwai caste.</p>
        <p>
            The Halwai are known by different names in each state. They are known as Mithaiha (meaning sweet) in Madhya Pradesh and have the surname Aggarwal. In eastern Bihar, they are called Madhesia and Vaisya and their surnames are Sah, Sahu, Saw and Gupta. In Uttar Pradesh they are known as Yogyaseni, Modanwal, Halwai, and Gupta. In Punjab they are known as Kamboj and Arora. In Orissa, the Halwai are known as Guria (jaggery) while in West Bengal they are known as Mayara, meaning confectioner.
        </p>
        <header class="heading-tag">
            <h2>Caste and Sub Caste</h2>
        </header>
        <p>In Uttar Pradesh the Halwai have nine subgroups namely: Modansevi or Modanseni, Kanyakubja, Yogyasevi or Yogyaseni, Jaunpuri, Madhesia, Kanbo, Kaithiya, Nagari, Rawatpuriya and Badshahi.
        </p>
        <p>
            In Bihar there are two sub castes Madhesia and Kannaujia.
        </p>
    </div>
</section>
<ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img width="1100px" height="500" src="../../assets/img1.jpeg" alt="Angular Carousel 1">
          </div>
          <!-- <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div> -->
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img width="1100px" height="500" src="../../assets/img2.jpeg" alt="Angular Carousel 2">
          </div>
          <!-- <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Consectetur tortor volutpat pretium.</p>
          </div> -->
        </ng-template>
        <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img width="1100px" height="500" src="../../assets/babalogo.jpg" alt="Angular Carousel 2">
                </div>
                <!-- <div class="carousel-caption">
                  <h3>Title Goes Here</h3>
                  <p>Consectetur tortor volutpat pretium.</p>
                </div> -->
              </ng-template>
      </ngb-carousel>